@model LostPeople.Models.LoginVM
<div class="space">
    <div class="form-group">
        <label>E-mail</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group">
        <label>Senha</label>
        @Html.TextBoxFor(model => model.Senha, new { @class = "form-control" })
        <small>
            @Html.ValidationMessageFor(model => model.Senha, null, new { @class = "text-danger" })
        </small>
    </div>
    <div class="form-group form-check">

        @Html.CheckBoxFor(model => model.Logado, new { @class = "form-check-input" })
        @Html.LabelFor(model=>model.Logado)
    </div>
    <div >
        
        <a class="btn btn-outline-warning" href="@Url.Action("Index","Home")">Cancelar</a>
    </div>

</div><button class="btn btn-outline-warning">salvar</button>