@model LostPeople.Models.FindedViewModel

<div class="space">
    @using (Html.BeginForm("Add", "Encontrado", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div >
                <label>Name of Person:</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", autofocus = "" })
                <small>
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                </small>
            </div>

            <div class="p-3">
                <label>How that person iis more knew:</label>
                @Html.TextBoxFor(model => model.MoreKnowedLike, new { @class = "form-control" })
                <small>
                    @Html.ValidationMessageFor(model => model.MoreKnowedLike, null, new { @class = "text-danger" })
                </small>
            </div>

            <div class="p-3">
                <label>Place that he is now:</label>
                @Html.TextBoxFor(model => model.PlaceHeIsNow, new { @class = "form-control" })
                <small>
                    @Html.ValidationMessageFor(model => model.PlaceHeIsNow, null, new { @class = "text-danger" })
                </small>
            </div>

            <div class="p-3">
                <label>Number of who are with him:</label>
                @Html.TextBoxFor(model => model.NumberWho, new { @class = "form-control" })
                <small>
                    @Html.ValidationMessageFor(model => model.NumberWho, null, new { @class = "text-danger" })
                </small>
            </div>

            
        </div>

        <div class="col-md-6">

            <div>
                <label>Choose a photo of person</label>
                @Html.TextBoxFor(model => model.ImageUpload, new { type = "file", @class = "form-control" })
                <small>
                    @Html.ValidationMessageFor(model => model.ImageUpload,null, new { @class = "text-danger"})
                </small>
            </div>

            <div class="p-3">
                <input type="submit" name="Safe" class="btn btn-outline-warning" />
            </div>

            <div>
                @Html.ValidationSummary(true)
            </div>

        </div>

    </div>
        

        
    }
</div>